.header {
	display: flex;
	align-items: center;
	padding: 0 30px;
	height: 80px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	background-color: var(--main-bg-color);
}

.logo {
	display: flex;
	align-items: center;
	width: 100%;
}

.tagIcon {
	width: 35px;
	height: 32px;
	fill: var(--text-color);
	display: block;
}

.techIcons {
	display: flex;
	gap: 10px;
}

.rightSide {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-left: auto;  
}

.brand {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.headerIcon {
	width: 35px;
	height: 32px;
}

.headerButtons {
	display: flex;
	align-items: center;
	gap: 10px;
	color: black;
}

.burger {
	display: none;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
	z-index: 1001;
}

.burger span {
	width: 25px;
	height: 3px;
	background-color: var(--text-color);
	border-radius: 2px;
}

.sideMenu {
	position: fixed;
	top: 0;
	left: -280px;
	width: 260px;
	height: 100vh;
	background-color: var(--main-bg-color);
	padding: 80px 20px 20px 20px;
	transition: left 0.3s ease;
	z-index: 1000;

	display: flex;
	flex-direction: column;
	gap: 20px;

	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.sideMenu.open {
	left: 0;
}

.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 999;
}

.menuItem {
	display: flex;
	align-items: center;
	gap: 15px;
	cursor: pointer;
	font-size: 18px;
}

.menuItem img {
	width: 28px;
	height: 28px;
}

@media (min-width: 821px) {
	.brand {
		margin-left: auto;
	}
}



@media (max-width: 820px) {
	

	.techIcons {
		display: none;
	}

	.headerButtons {
		display: none;
	}

	.burger {
		display: flex;
	}
}

@media (prefers-color-scheme: dark) {
	.header {
		border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	}

}