.header {
	width: 100%;
	height: 70px;
	background-color: var(--main-bg-color);
	padding: 0 30px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo {
	text-transform: capitalize;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	user-select: none;
}

.headerIcon {
	width: 35px;
	height: 32px;
}

.headerButtons {
	display: flex;
	align-items: center;
	gap: 10px;
	color: black;
}

.burger {
	display: none;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
	z-index: 1001;
}

.burger span {
	width: 25px;
	height: 3px;
	background-color: white;
	border-radius: 2px;
}

.sideMenu {
	position: fixed;
	top: 0;
	left: -280px;
	width: 260px;
	height: 100vh;
	background-color: var(--main-bg-color);
	padding: 80px 20px 20px 20px;
	transition: left 0.3s ease;
	z-index: 1000;

	display: flex;
	flex-direction: column;
	gap: 20px;

	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.sideMenu.open {
	left: 0;
}

.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 999;
}

.menuItem {
	display: flex;
	align-items: center;
	gap: 15px;
	cursor: pointer;
	font-size: 18px;
}

.menuItem img {
	width: 28px;
	height: 28px;
}

@media (max-width: 820px) {

	.logo img {
		display: none;
	}

	.headerButtons {
		display: none;
	}

	.burger {
		display: flex;
	}

}
