* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-bg-color: #0f172a;
	--text-color: #fff;
	--btn-bg-color: #383b3f;
	--btn-text-color: #fff;

	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
}

body {
	background-color: var(--main-bg-color);
	color: var(--text-color);
}

@media (prefers-color-scheme: light) {
	:root {
		--main-bg-color: #eef2f7;
		--text-color: #23272f;
		--btn-bg-color: #16444f;
		--btn-text-color: #fff;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-bg-color: #0f172a;
		--text-color: #fff;
		--btn-bg-color: #383b3f;
		--btn-text-color: #fff;
	}
}
